{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../../static/CSS/index.css">
<section class="main_">
    <div class="containter">
        <div class="box">
            <h1>Welcome to your book catalouge</h1>
        </div>
    </div>
</section>
<section class="main-container">
    <div class="main-box">
        <div class="desc-holder">
            <p>Welcome to your personal Book Catalouge, here with the help of
                insomnia you are able to create an account, log in and start
                storing the data of your favorite books! Not only can you store
                but you can also Search through your entire list or for one specific book!
                Let a friend borrow one? Change the availability for that book as a little reminder.
                Have you given away a book completly or just decided you dont like it anymore?
                Then feel free to completly remove it! Book Catalouge is here to help
                you spend more time reading and less time looking!
            </p>
        </div>    
        <div class="img2-holder">    
            <img src="../../static/Images/undraw_reading_time_re_phf7.svg" alt="">
        </div>
    </div>
</section>
{% endblock %}